<%- include("partials/header.ejs") %>

<main class="mt-5">
    <div class="container">
        <h2 class="my-4 text-center">Edit Post</h2>
        <form action=<%= "/update-post?id=" + id %> method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value=<%= title %>>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" style="height: 400px" id=" description"
                    name="description"><%= description %></textarea>
            </div>
            <button type="submit" id="create-post-button" class="btn custom-btn">Save</button>
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>